* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.light{
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}
.dark{
  background-color: rgb(125, 104, 75);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}
.nav2{
  display: flex;
  gap: 30px;
}