* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}
button{
  padding: 10px 30px;
  background-color: rgb(127, 255, 146);
  border-radius: 14px;
  border: none;
  cursor: pointer;
}