* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

#main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 55%;
  height: auto;
  padding: 20px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  display: flex;
  color: rgb(92, 92, 92);
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(252, 216, 139), rgb(226, 236, 95));
  /* background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); */
  padding-top: 60px;
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

/* .card:hover {
  box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
} */

.time-text {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#BtnDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#BtnDiv .btnClick {
  width: 40%;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  border: 1 solid black;
  margin: 10px;
}

.btnClick:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 2px black;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}

.card:hover>.moon {
  font-size: 23px;
}